<h1>Boozes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Your Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @boozes.each do |booze| %>
  <tr>
    <td><%= booze.name %></td>
    <td><%= booze.rating %></td>
    <td><%= booze.get_user_rating(@current_user) %></td>
    <td><%= link_to 'Edit Booze Info', edit_booze_path(booze) %></td>
    <td><%= link_to 'Delete', booze, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= render_user_link(booze, @current_user) %> </td>
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>
